<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
	<title></title>
	<meta name="description" content="" />
  	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<link href="stylesheets/os-screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper">
<header>
<img class="oa-site-banner-img" src="img/origin_logo.png" alt="Site banner"></a>      
</header>
<nav class="main clearfix">
<ul class="unstyled">
<li><a href="index.html">General</a></li>
<li><a href="atrium-elements.html">Atrium Elements</a></li>
</ul>
</nav>

<section>
	<h2 class="section-title">Headings</h2>
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
</section>

<section>
	<h2 class="section-title">Paragraphs</h2>
	<h3>Lead</h3>
	<p class="lead">The open source upstream of OpenShift, the next generation application hosting platform developed by Red Hat.</p>
	<h3>Large Paragraph</h3>
	<p class="larger">The open source upstream of OpenShift, the next generation application hosting platform developed by Red Hat.</p>
	<h3>Paragraph</h3>
	<p>The open source upstream of OpenShift, the next generation application hosting platform developed by Red Hat.</p>
	<h3>Small Paragraph</h3>
	<p class="small">The open source upstream of OpenShift, the next generation application hosting platform developed by Red Hat.</p>
</section>

<section>
<h2 class="section-title">Lists</h2>
<h3>Unordered List</h3>
<ul>
	<li>List Item</li>
	<li>List Item
		<ul>
			<li>List Item
				<ul>
					<li>List Item</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
</ul>

<h3>Ordered List</h3>
<ol>
	<li>List Item</li>
	<li>List Item
		<ul>
			<li>List Item
				<ul>
					<li>List Item</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
</ol>
</section>

<section class="buttons">
<h2 class="section-title">Links & Buttons</h2>
	<h3>Text Link</h3>
	<a>Standard Text Link</a>
	
	<h3>Call to Action</h3>
	<a class="action-call" href="https://install.openshift.com/"><div>Install your own OpenShift PaaS</div><div class="highlight-arrow"> </div></a>
	<h3>Button</h3>	
	<a class="btn">Default Button</a>  <a class="btn disabled">Disabled Button</a>
	<h3>More Link</h3>
	<a class="action-more">More Link</a>
</section>

<section>
	<h2 class="section-title">Quotes</h2>
	<h3>Blockquote</h3>
	<blockquote>
		<p>The open source upstream of OpenShift, the next generation application hosting platform developed by Red Hat.</p>
	</blockquote>
<h3>Small Blockquote</h3>
	<blockquote>
		<small>The open source upstream of OpenShift, the next generation application hosting platform developed by Red Hat.</small>
	</blockquote>
</section>
<section>
<h2 class="section-title">Forms</h2>
<form id="form_id" name="form_name" action="<<**SelectionInsertionPlaceholder**>>" method="post">
	<p><label for="first">Label </label><input type="text" name="first" id="first" /></p>
	<p><label for="radio">Radio </label><input type="radio" name="radio" id="radio_one" value="one"> One&nbsp;&nbsp;<input type="radio" name="radio" id="radio_two" value="two"> Two</p>
	<p><label for="checkbox">Checkbox </label><input type="checkbox" name="checkbox" id="checkbox" value="checked"> Check</p>
	<p><label for="select">Select </label>
		<select name="select" id="select">
			<option value="alpha">Alpha</option>
			<option value="beta" selected>Beta</option>
		</select>
	</p>
	<p><label for="multiselect">MultiSelect </label>
	<select name="multiselect" id="multiselect" multiple="multiple" size="2">
		<option value="gamma">Gamma</option>
		<option value="delta">Delta</option>
		<option value="epsilon">Epsilon</option>
		<option value="zeta">Zeta</option>
	</select>
	<p><label for="textarea">Textarea </label><textarea name="textarea" id="textarea" rows="5" cols="30">Text</textarea></p>
	<p><input class="btn" type="submit" name="submit" value="Submit" /></p>
</form>
</section>

</div>
</body>
</html>
