<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
	<title></title>
	<meta name="description" content="" />
  	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<link href="stylesheets/os-screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper">
<header>
<img class="oa-site-banner-img" src="img/origin_logo.png" alt="Site banner"></a>      
</header>
<nav class="main clearfix">
<ul class="unstyled">
<li><a href="index.html">General</a></li>
<li><a href="atrium-elements.html">Atrium Elements</a></li>
</ul>
</nav>

<section>
	<h2 class="section-title">Pane Styles</h2>

<div class="oa-pane inner-pane">
  <div class="panel-pane pane-views-panes pane-open-atrium-content-panel-pane-2">
  
        <h3 class="pane-title">From the Suggestion Box</h3>
    
  
  <div class="pane-content">
    <div class="view view-open-atrium-content view-id-open_atrium_content view-display-id-panel_pane_2 view-dom-id-8e69f2425d7d4f304b689d61b3504e25 jquery-once-1-processed">
        
  
  
      <div class="view-content row-fluid">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    <article id="node-842" class="node node-oa-discussion-post node-teaser clearfix" role="article">

        <h2>
      <a href="/greystone/suggestion-box/regional-retreat-recommendation">Regional Forum</a>
    </h2>
    
      <footer class="meta submitted">
        <div class="user-picture">
    <img class="oa-small-thumbnail" src="http://demo.openatrium.com/sites/default/files/styles/oa_small_thumbnail/public/pictures/Dan_Beltrain.jpeg?itok=R_lXd3gB" width="30" height="30" alt="Dan Beltrain's picture" title="Dan Beltrain's picture">  </div>
      Submitted by <span class="username">Dan Beltrain</span> on December 12, 2013 - 12:39pm    </footer>
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>I would like to suggest we implement annual regional retreats. Currently, &nbsp;we do not have a good face-to-face forum to share our ideas across regions.</p>
</div></div></div>  </div>

      <div class="link-wrapper">
      <ul class="links inline unstyled"><li class="node-readmore first last"><a class="action-more" href="/greystone/suggestion-box/regional-retreat-recommendation" rel="tag" title="Regional Forum">Read more<span class="element-invisible"> about Regional Forum</span></a></li>
</ul>    </div>
  
  
</article>
  </div>
  <div class="views-row views-row-2 views-row-even views-row-last">
    <article id="node-827" class="node node-oa-discussion-post node-teaser clearfix" role="article">

        <h2>
      <a href="/greystone/suggestion-box/alternatives-soy-and-milk">Alternatives for Soy and Milk</a>
    </h2>
    
      <footer class="meta submitted">
        <div class="user-picture">
    <img class="oa-small-thumbnail" src="http://demo.openatrium.com/sites/default/files/styles/oa_small_thumbnail/public/pictures/Ivanna%20Olgash.jpeg?itok=dK4YBZ6p" width="30" height="30" alt="Ivanna Olgash's picture" title="Ivanna Olgash's picture">  </div>
      Submitted by <span class="username">Ivanna Olgash</span> on December 12, 2013 - 12:32pm    </footer>
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p><span><span>Lately, my customers have been asking for alternatives to soy and milk. The requests are typically around no sugar added Almond and Coconut milk. This is a dairy-free trend that is clearly being addressed in both mainstream and specialty grocery stores. We could start to differentiate ourselves from big box competitors by catering to this clientele. </span></span></p>
</div></div></div>  </div>

      <div class="link-wrapper">
      <ul class="links inline unstyled"><li class="node-readmore first last"><a class="action-more" href="/greystone/suggestion-box/alternatives-soy-and-milk" rel="tag" title="Alternatives for Soy and Milk">Read more<span class="element-invisible"> about Alternatives for Soy and Milk</span></a></li>
</ul>    </div>
  
  
</article>
  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
</div>
</section>
<section>
	<h2 class="section-title">Well Styles</h2>

<div class="well style-region ">
  <div class="panel-pane pane-facet">
  
        <h3 class="pane-title">Type</h3>
    
  
  <div class="pane-content">
    <div class="item-list"><ul class="facetapi-facetapi-links facetapi-facet-type facetapi-processed" id="facetapi-facet-search-apidatabase-node-index-block-type"><li class="leaf first"><a href="/search/node/test?f[0]=type%3Aoa_wiki_page" rel="nofollow" class="facetapi-inactive" id="facetapi-link--3">Document Page (1)<span class="element-invisible"> Apply Document Page filter </span></a></li>
<li class="leaf last"><a href="/search/node/test?f[0]=type%3Aoa_space" rel="nofollow" class="facetapi-inactive" id="facetapi-link--4">Space (1)<span class="element-invisible"> Apply Space filter </span></a></li>
</ul></div>  </div>

  
  </div>
<div class="panel-separator"></div><div class="panel-pane pane-facet">
  
        <h3 class="pane-title">Post date</h3>
    
  
  <div class="pane-content">
    <div class="item-list"><ul class="facetapi-facetapi-links facetapi-facet-created facetapi-processed" id="facetapi-facet-search-apidatabase-node-index-block-created"><li class="leaf first"><a href="/search/node/test?f[0]=created%3A%5B2013-08-01T00%3A00%3A00Z%20TO%202013-09-01T00%3A00%3A00Z%5D" rel="nofollow" class="facetapi-inactive" id="facetapi-link--5">August 2013 (1)<span class="element-invisible"> Apply August 2013 filter </span></a></li>
<li class="leaf last"><a href="/search/node/test?f[0]=created%3A%5B2014-01-01T00%3A00%3A00Z%20TO%202014-02-01T00%3A00%3A00Z%5D" rel="nofollow" class="facetapi-inactive" id="facetapi-link--6">January 2014 (1)<span class="element-invisible"> Apply January 2014 filter </span></a></li>
</ul></div>  </div>

  
  </div>
<div class="panel-separator"></div><div class="panel-pane pane-facet">
  
        <h3 class="pane-title">Section</h3>
    
  
  <div class="pane-content">
    <div class="item-list"><ul class="facetapi-facetapi-links facetapi-facet-oa-section-reftitle facetapi-processed" id="facetapi-facet-search-apidatabase-node-index-block-oa-section-reftitle"><li class="leaf first last"><a href="/search/node/test?f[0]=oa_section_ref%253Atitle%3AWARCEF%20Resources" rel="nofollow" class="facetapi-inactive" id="facetapi-link">WARCEF Resources (1)<span class="element-invisible"> Apply WARCEF Resources filter </span></a></li>
</ul></div>  </div>

  
  </div>
<div class="panel-separator"></div><div class="panel-pane pane-facet">
  
        <h3 class="pane-title">Space</h3>
    
  
  <div class="pane-content">
    <div class="item-list"><ul class="facetapi-facetapi-links facetapi-facet-og-group-reftitle facetapi-processed" id="facetapi-facet-search-apidatabase-node-index-block-og-group-reftitle"><li class="leaf first last"><a href="/search/node/test?f[0]=og_group_ref%253Atitle%3AWARCEF%20Trial" rel="nofollow" class="facetapi-inactive" id="facetapi-link--2">WARCEF Trial (1)<span class="element-invisible"> Apply WARCEF Trial filter </span></a></li>
</ul></div>  </div>

  
  </div>
<div class="panel-separator"></div></div>
</section>
<section>
	<h2 class="section-title">Header Styles</h2>
	<img src="img/atriumbar.png" style="width: 100%">
 </section>
<!--
<nav class="clearfix atrium-bar">

<ul class="unstyled pull-left">
	<li><a class="" href="">Admin</a></li>
	<li><a class="fa icon-home" href=""> <b class="caret"></b></a></li>
	
	<li><a class="" href="">Space Name</a><b class="caret"></b></li>
</ul>

<ul class="unstyled pull-right">
	<li><a class="fa icon-question-sign" href=""></a></li>
	<li><a class="fa icon-star" href=""></a></li>
	<li><input type="search"><a class="fa icon-search" href=""></a></li>
	<li><a class="" href="">User Account <b class="caret"></b></a></li>
</ul>
-->




	<!--
<div id="toolbar-menu-button" class="toggle-tray btn btn-inverse">
		<span>Admin</span>
	</div>
	<ul id="oa_breadcrumb" class="oa_toolbar unstyled clearfix">
		<li class="btn-group oa-breadcrumb">
			<a href="" class="btn btn-home btn-inverse"><i class="fa icon-home"></i><span class="element-invisible">Home</span></a>
			<a class="dropdown-toggle btn btn-inverse" id="parent-dropdown" data-toggle="dropdown" href="#"><b class="caret"></b></a>
		</li>
		<li class="btn-group oa-breadcrumb">
			<a href="" class="btn btn-inverse">Space</a>
			<a class="dropdown-toggle btn btn-inverse" id="subspace-dropdown" data-toggle="dropdown" href="#"><b class="caret"></b></a>
		</li>
	</ul>
	
	<ul id="oa_tours">
    	<li class="dropdown btn-group">
			<a class="dropdown-toggle btn  btn-inverse" id="tours-dropdown" data-toggle="dropdown" href="#" title="Site Tours">
        <i class="fa icon-question-sign"></i><span class="element-invisible">Site Tours</span>
			</a>
             </li>
      </ul>
<ul id="oa_favorites">
  <li class="dropdown btn-group">
    <a class="dropdown-toggle btn  btn-inverse" id="favorites-dropdown" data-toggle="dropdown" href="#" title="Favorites">
      <i class="fa icon-star"></i><span class="element-invisible">Favorites</span>
    </a>
      </li>
</ul>
  <div class="panel-pane pane-oa-toolbar-search pull-right">
  
      
  
  <div class="pane-content">
    
<div class="toolbar-search">
  <form action="search/site" method="post">
    <div class="input-append">
      <input type="text" class="search-text">
      <div class="btn-group">
        <button type="submit" class="btn submit btn-inverse">
          <i class="icon-search"></i><span class="element-invisible">Search Button</span>
        </button>
        <button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
          <i class="caret"></i><span class="element-invisible">Search Options</span>
        </button>
             </div>
    </div>
  </form>
</div>  </div>

  
  </div>
-->
</nav>
</div>
</body>
</html>
